<!DOCTYPE html>
<html>
    <head>
        <title>slot</title>
    </head>
    <body>
    <p>Vue implements a content distribution API  using the <slot> element to serve as distributer for content.</p>
    <p>This allows you to compose components like this:
        
        <!--<slot></slot>-->
        When the component renders, <!--<slot></slot> -->will be replaced by “Your Profile”. Slots can contain any template code, including HTML</p>
<p>types of slots</p>
<p>named slots:they are having a special attribute called name which is used to allocate multiple slots when necessary</p>
<p>unnamed slots:we cannot use multiple slots in unnamed slots and any variable within these will be used within the scope</p>
</body>
    </html>