<!DOCTYPE html>
<html>
<head>
<h1>hjggh</h1>
</head>

<body>
    <form action="#" id="formSubmission" method="get">
        <span>Email</span>
        <input type="Name" placeholder="enter your Name" id="name">
        <span>Age</span>
        <input type="number" placeholder="Age" id="age">
        <span>State</span>
        <input type="text" placeholder="Enter State" id="state">
        <button type="submit">Submit</button>
      </form>
     <table id="data">
         <tr>
       <th>Name</th>
       <th>Age</th>
       <th>State</th>
         </tr>
         </table>
    <script>
        let form=document.getElementById("formSubmission");

let table=document.getElementById('data');
form.addEventListener("submit",(e)=>{
  e.preventDefault();
  submit();
})
const submit=()=>{
  let name = document.getElementById("name").value;
    let age = document.getElementById("age").value;
    let state = document.getElementById("state").value;
  let newArray = [name,age,state];
  newArray.forEach((item)=>{
      var th = document.createElement("th");
  var text = document.createTextNode(item);
  th.appendChild(text);
  table.appendChild(th);
  })
  form.reset(); 
}
    </script>
</body>

</html>