<!DOCTYPE html>
<html>
    <body>
        <h1>join
        </h1>
        <p id="demo"></p>
        <p id="demo1"></p>
        <p id="demo2"></p>
        <script>
           const myColor = ["Red", "Green", "White", "Black"];
           let result=myColor.join()
           let result1=myColor.join(" ")
           let result2=myColor.join("+")
           document.getElementById("demo").innerHTML=result;
           document.getElementById("demo1").innerHTML=result1;
           document.getElementById("demo2").innerHTML=result2;
        </script>
    </body>
</html>